

.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "logo logo"
        "image info"    
        "description size";
}

.logo {
    grid-area: logo;
    background-color: rgb(141, 255, 70);
    text-shadow: 2px 2px 4px #ffffff
}



.product-image {
    grid-area: image;
    height: auto;
    width: 100%;

    
}
.info {
    grid-area: info;
    text-align: justify;
    padding-left: 3px;
    background-color: lightgreen;
}


.description {
    grid-area: description;
    text-align: justify;
}

.size {
    grid-area: size
}


table, th, td {
  border: 3px solid;
  background-color: white;
}
table {
  border-collapse: collapse;
  width: 40%;
}
th {
  height: 50px;
  text-align: left;
}


.buybutton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 40%;
    box-sizing: border-box;

}

.body {
    background-color: rgb(106, 176, 32);
}