body {
  margin: 0px;
}


.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "searchbar searchbar"
        "list productarea"
        "list productarea"
    ;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(106, 176, 32);
    grid-area: productarea;
}

.flex-container>div {
    background-color: #ffffff;
    width: 20%;
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
    font-size: 30px;

}

.searchbar {
    grid-area: searchbar;
    background-color: rgb(141, 255, 70);

}

.list {
    grid-area: list;
    background-color: rgb(175, 241, 134);
}

/* Product area*/

.product {
    width: 25%;
    height: auto;
    position: relative;
}

.productimg {
    width: 100%;
    height: auto;
}

.flex-container>.product>h1 {
    font-size: 120%;
    text-align: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buybutton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 40%;
    box-sizing: border-box;

}

.price {
    font-size: 16px;
    background-color: rgb(202, 255, 132);
    margin: 4px 2px;
    padding: 14px 2px 14px 2px;
    height: 50px;
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    /* padding-top: 50px */

}

.testbl {
  position: absolute;
  left: 10px;
  bottom: 10px;

    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;


}
.testbr {
  position: absolute;
  right: 10px;
  bottom: 10px;

      background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 00px 0px;
    text-align: center;
    /* text-decoration: none; */
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;

    /* height: 50px; */

}

a:link, a:visited { 
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}